
@font-face {
    font-family:kode_mono ;
    src: url(../Kode_Mono/KodeMono-VariableFont_wght.ttf);
}


@keyframes swing {
    0% {transform: translateY(7px);
    transition: 2s;}
    25%{transform: translateY(-7px);
        transition: 2s;}
    50% {
        transform: translatey(-7px);
        transition: 2s;
    }
    100%{transform: translatey(7px);
    transition: 2s;}
}
* {
    margin: 0;
    padding: 0;
    font-family:kode_mono ;
    letter-spacing: 2px;
}

.firstslide {
    background-image: linear-gradient(90deg , rgb(240 ,240 ,2400) 50%,rgb(20,20,35) 50%); 
    width: 100%;
    height: 100vb;
    scroll-behavior: smooth;
    animation: intro 5s infinite;
    
}


.secondslide {
    background-image: radial-gradient(white,white , grey);
    width: 100%;
    height: 100vb;
    justify-content: center ;
    align-items: center;
    scroll-behavior: smooth;
}
nav {
    position: absolute;
    border-bottom: 3px rgb(20,20,35) solid;
    border-radius: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(20,20,35);
    width: 100%;
}
nav h3 {
    color: rgb(20,20,35);
    width: 50%;
    padding-left: 10px;
    font-size: 34px;
    
}
nav ul {
    color: white;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
nav ul li {
    display: inline;
    
}
.intro {
    position: absolute;
    top: 40%;
    
    width: 100%;
    margin: auto;
    color: rgb(20,20,35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro h3 {
    font-size: 32px;
}
.intro h1 {
    font-size: 82px;
    font-weight: bolder;
    
}
.intro  span {
    color: white;
}

.firstslide ul {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: absolute;
    top: 90%;
    width: 100%;
    
    
}
li  {
    display: inline;
    
}
ul li a {
    width: 100%;
    text-decoration: none;
    color: aliceblue;
    scroll-behavior: smooth;
}
#icon1 ,#icon2 {
    color: rgb(20,20,35);
}
a svg {
    width: 100%;
    height: 40px;
}
li a :hover {
    color: rgb(0, 218, 0);
}
nav a:hover {
    color: rgb(0, 218, 0);
}


.skills {
    width: 50%;
    height: 80%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 1fr ;
    margin: auto;
    grid-row-gap: 50px;
    grid-column-gap: 30px;
}
.cell {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .6;
}
.cell img {
    width: 40%;
    
}
.cell h4 {
    height:10px;
    display: block;
}
.secondslide h1 {
    height: 10%;
    text-align: center;
}
.skills :hover {
    opacity: 1;
    transition: 1.2s;
}
progress {
    height: 2px;
    width: 100%;
    display: inline;
    background-color: rgb(0, 218, 0);
    
}
.progress-bar {
    display: none;
    width: 100%;
    
    height: 10px;
}
output {display: inline;
    height: 8px;
    
}
#thirdslide {
    width: 100%;
    height: 100vb;
    background-image: radial-gradient(rgb(83, 84, 86) ,rgb(13, 17, 27));}
    #thirdslide h1 {
        text-align: center;
        color: rgb(231, 235, 255);
        height: 10%;
    }
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr ;
        column-gap: 5px;
        row-gap: 5px;
        
        
    }
    
    .projectcard {
        
        animation: swing 10s infinite    ;
        margin: auto;
        margin-top: 40%;
        width: 60%;
        height: 80%;
        background-color: rgba(231, 235, 255, 0.083);
        border-radius: 7%;
        border: 1px groove white;
        
    color: rgb(231, 235, 255);
    box-shadow: 1px 1px 2px white;
}
.projectcard img {
    width: 100%;
    
    
    clip-rule: nonzero;
    border-radius: 7% 7% 0 0;
}
.projectcard h2 {
    color: rgb(39, 39, 54);
    background-color: rgb(231, 235, 255);
    font-size: 3vb;
    
}
.projectcard div  {
display: flex;
flex-direction: column;
align-items: center;
font-weight: bolder;      
margin-top: 10px;  
}
.projectcard:nth-of-type(2) {
    animation-delay: .5s;
}
.projectcard:nth-of-type(3) {
    animation-delay: 1s;
}
.projectcard:nth-of-type(4) {
    animation-delay: 1.5s;
}
.html {
    background-color: orangered;
}
.css {
    background-color: blue;
}
.bootstrap {
    background-color: rgb(131, 6, 165);
}
.js {
    background-color: yellow;
    color: black;
}
.projectcard img:hover {
    transform: scale3d(1.7 ,1.7 ,1.7);
    transition: .4s;
}
footer {
    height: 100vb ;
    scroll-behavior: smooth;
    font-size: 24px;
    width: 100%;
    background-image: linear-gradient(90deg ,rgb(231, 230, 255) 20% , rgb(3, 0, 14) 80%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
footer div svg {
    height: 80% ;
    width: 40%;
}
footer a {
    text-decoration: none;
    color: rgb(231, 235, 255);
    font-weight: 500;
    letter-spacing: 2px;
    text-wrap: nowrap;
    
}
footer a:hover {
    color: rgb(0, 218, 0);
}
footer div {
    display: flex;
    text-align: justify;
    height: fit-content;
    width: 60%;
    height: 10vb;
    justify-content: baseline;
    align-items: center;
}


@media only screen and (max-width: 800px) {
    
    .skills {
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .projects {
        grid-template-columns: 1fr 1fr;
}
    .projectcard {
        margin: 4px auto ;
        width: 50%;
        height: fit-content;
        animation-delay: 0s;
        padding: 8px;
    }
    .projectcard div {
        display: inline;
    }
    footer {
        font-size: medium;
        justify-content: center;
    }
}